.enter-button.visible {
  display: none;
}

.enter-button {
  display:flex;
  justify-content: center;
  margin-top: 30%;
}

.main-body {
  display: none;
}

.main-body.visible {
  display: block;
}

header {
  height: 100vh;
}

nav {
  font-family:Rubik, sans-serif;
  padding: 20px;
  display: flex;
  gap: 3rem;
  border-bottom: 1px solid white;
  align-items: center;
}

.links{
  font-size: 20px;
}

.grid-container { 
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  position: relative;
}
#heading {
  margin-top: 25px;
}

.programmer {
  width: 180px;
  height: 180px;
  position:relative;
  animation-name: cartoon;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes cartoon {
  0%   {left:30px; top:0px;}
  25%  {left:30px; top:35%;}
  50%  {left:30px; top:70%;}
  75%  {left:30px; top:35%;}
  100% {left:30px; top:0px;}
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
}

.headingl1 {
  animation-name: move-left;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

.headingl2 {
  animation-name: move-right;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

.headingl3 {
  animation-name: appear;
  animation-duration: 3s;
  animation-iteration-count: 5;
}

.button-about {
  animation-name: move-up;
  animation-duration: 6s;
  animation-iteration-count: 1;
}

@keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(-15rem)
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes move-right {
  0% {
      opacity: 0;
      transform: translateX(15rem)
  }

  100% {
      opacity: 1;
      transform: translateX(0)
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
      opacity: 1;
      }

      100% {
        opacity: 0;
        }
  }

@keyframes move-up {
  0% {
    opacity: 0;
    transform: translateY(+30rem)
  }

  100% {
      opacity: 1;
      transform: translateY(0);}
  }

  .photo {
    display:flex;
    height: auto;
    width:20%;
    margin: 100px 40%;
  }

  .button-portfolio {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  }

#projects {
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin-top: 25px;
  gap: 2rem;
}

.socials {
  padding: 2rem;
}

@media screen and (max-width: 1050px) {
  .heading {
    font-size: 20px;
  }
  
  }

  @media screen and (max-width: 800px) {
    nav {
    justify-items: center;
    gap: 1rem;
    }
    .links {
      text-align: center;
      font-size: 16px;
    }

    .programmer {
      width: 130px;
      height: 130px;
    
    }
    @keyframes cartoon {
      0%   {left:0px; top:0px;}
      25%  {left:0px; top:35%;}
      50%  {left:0px; top:70%;}
      75%  {left:0px; top:35%;}
      100% {left:0px; top:0px;}
    }
  }

  @media screen and (max-width: 600px) {
    body {
      width: 100%;
    }
    #heading {
      margin-top: 4px;
      padding: 0;
    }
    .links {
      font-size: 14px;
    }
    .photo {
    
      width:29%;
      margin: 40px 37.5%;
    }
   .programmer {
    display: none;
   }
   #projects { 
    
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 12px;
   
    
  }
    }